html {
	background:#B2D2E1;
  	background: #B2D2E1 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #B2D2E1), color-stop(100%, #434b55)) fixed;
  	background: #B2D2E1 -webkit-linear-gradient(#B2D2E1, #434b55) fixed;
  	background: #B2D2E1 -moz-linear-gradient(#B2D2E1, #434b55) fixed;
	background: #B2D2E1 -o-linear-gradient(#B2D2E1, #434b55) fixed;
	background: #B2D2E1 -ms-linear-gradient(#B2D2E1, #434b55) fixed;
	background: #B2D2E1 linear-gradient(#B2D2E1, #434b55) fixed;
}

body {
	padding: 40px 0;
	margin: auto;
	width: 70%;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
  	font-weight: 300;
	background:#B2D2E1;
  	background: #B2D2E1 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #B2D2E1), color-stop(100%, #434b55)) fixed;
  	background: #B2D2E1 -webkit-linear-gradient(#B2D2E1, #434b55) fixed;
  	background: #B2D2E1 -moz-linear-gradient(#B2D2E1, #434b55) fixed;
	background: #B2D2E1 -o-linear-gradient(#B2D2E1, #434b55) fixed;
	background: #B2D2E1 -ms-linear-gradient(#B2D2E1, #434b55) fixed;
	background: #B2D2E1 linear-gradient(#B2D2E1, #434b55) fixed;

}

.image-circle {
	border-radius: 50%;
	padding: 0 0 20px;
    display: block;
    margin: auto;
    width: 30%;
  	line-height: 3;
}

ul.menu {
	padding: 30px 0 10px 0;
}

header h1 {
	margin: auto;
	text-align: center;
	padding: 0;
	font-family: 'Tauri';
	font-weight: bold;
	font-size: 2.3em;
	line-height: 1.5;
	color: #E8E8E8;
	text-shadow: rgba(51, 51, 51, 1.9) 0 1px 0;
}

header p {
	margin: auto;
	text-align: center;
	color: #E8E8E8;
	width: 300px;
	font-size: 1.1em;
	line-height: 1.2;
	text-shadow: rgba(51, 51, 51, 1.9) 0 1px 0;
}


body.home a.home,
body.cv a.cv,
body.publications a.publications,
body.contact a.contact {
	color: #dbc3d0;
}

header ul {
  font-family:'Helvetica','Arial','Sans-Serif';
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 2px;
  list-style-type: none;
  z-index: 1;
}

header nav ul li a {
  color: #E8E8E8;
  font-size: 1.7em;
  display: inline;
  text-align: center;
  padding: 6px;
  height: 40px;
  text-decoration: none;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

header nav li a:hover {
  background: #a8b6bf;
  color: #fff;
}

header nav li a:active {
	background: #dbc3d0;
	color: #fff;
}
	
.mainbox {
	max-width:700px;
	margin: auto;
	padding: 10px;
	background: #E8E8E8;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
  	-o-border-radius: 8px;
  	-ms-border-radius: 8px;
  	-khtml-border-radius: 8px;
  	border-radius: 8px;
  	-moz-box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
  	-webkit-box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
  	-o-box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
  	box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

header, section, footer {
	display: block;
}

section {
  padding: 5px 20px;
  font-size: 15px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  position: relative;
}
  
p {
	padding: 0;
	font-size: 14px;
	line-height: 1.4em;
	text-align: justify;
}

blockquote {
  margin: 0;
  padding: 5px 20px 1px 20px;
  background: #c2d4d8;
  border-radius: 5px;
  color: #222;
}


hr {border: 2px
}

footer ul{
	margin: 5px;
    font-size: 1.3em;
    color: #E8E8E8;
    font-family:'Helvetica','Arial','Sans-Serif';
    font-weight: bold;
    list-style: none;
    padding: 0;
    text-align: right;
}

footer ul li{
	margin-left: 30px;
}

footer a {
	color: #E8E8E8;
	margin-right: 5px;
}

a {
	color: #52658F;
    text-decoration: none;
	
}

span a {
	color: #FF5240;
	font-weight: bold;
}

footer ul li:hover, footer ul li a:hover {
	color: #dbc3d0;
}


li {
	display: inline;
}

h2 {
	color: #333A56;
	font-size: 1.5em;
}

h3 {
	color: #52658F;
}

h4 {
	color: #6D7993;
	font-size: 1.1em;
}

h5 {
	color: #434b55;
	font-size: 0.9em;
}

h {
    border: 2px dashed lightgray;
    font-weight: 10px;
    border-radius: 8px;
    padding: 10px
}

h:hover {
	background-color: #dbc3d0;
}

#contactinfo: {
	background-color: #dbc3d0;
	border: 2px dashed lightgray;
	border: solid;
}

strong {
	color: #555555;
	font-weight: 700;
}

.year {
	float: left; 
	padding: 0 15px 0 0; 
	width: 15%; 
	height: 60px;
}

.year_long {
	float: left; 
	padding: 0 15px 0 0; 
	width: 15%; 
	height: 80px;
	text-align: left;
}

.year_superlong {
	float: left; 
	padding: 0 15px 0 0; 
	width: 15%; 
	height: 100px;
	text-align: left;
}

.cv-year {
	float: left; 
	padding: 0 15px 0 0; 
	width: 15%; 
	height: 30px;
	text-align: left;
}

header p a#download-cv {
	margin: auto;
	text-align: center;
	font-weight: bold;
	color: #434b55;
	border: 2px outset lightgray;
	background: #B2D2E1;
    border-radius: 5px;
    padding: 3px;
    text-shadow: none;
}

header p a#download-cv:hover {
	border: 2px outset lightgray;
	font-weight: 50px;
}

header p a#download-cv:active {
	border: 2px inset lightgray;
	background-color: #dbc3d0;
	font-weight: 50px;
	color:white;
}
	